name: C/C++ CI

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build:
    name: build ${{ matrix.spec.target }}
    runs-on: ${{ matrix.spec.runner }}
    container:
      image: ${{ matrix.spec.builder }}
    strategy:
      fail-fast: false
      matrix:
        spec:
        - { target: 'linux-x64', runner: 'ubuntu-latest', builder: 'openziti/ziti-builder:v2' }

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: run build for ${{ matrix.spec.target }}
        uses: ./.github/actions/build
        with:
          target: ${{ matrix.spec.target }}
          test: ${{ matrix.spec.test }}
          test_id: ${{ secrets.ZITI_TEST_IDENTITY }}

      - run: ls -lR ./build/package/
      - name: upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: zitify-${{ matrix.spec.target || runner.os }}
          path: ./build/package/zitify-*

  nightly:
    needs: build
    runs-on: ubuntu-latest
    permissions:
        contents: write
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/download-artifact@v6
        with:
          path: ./artifacts
          pattern: zitify-*
          merge-multiple: 'false'

      - run: ls -lR ./artifacts
      - uses: pyTooling/Actions/releaser@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: nightly
          rm: true
          files: |
            ./artifacts/*.gz
